<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StudentManagement</display-name>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>/org/planes/ravi/RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>abcd</servlet-name>
  	<servlet-class>/org/planes/ravi/loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abcd</servlet-name>
  	<url-pattern>/logservlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>abcd</servlet-name>
  	<servlet-class>/org/planes/ravi/ChangeServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abcd</servlet-name>
  	<url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>


</web-app>
</element>